
body{
    background-image: url('./images/bg-pattern-top-mobile.svg'), url(./images/bg-pattern-bottom-mobile.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    font-size: 15px;
    padding: 8%;
    font-family: 'Spartan', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


.intro-rate {
    flex-direction: column;
}

.intro {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: hsl(300, 43%, 22%);
}

.rate {
    text-align: center;
}

.rate-square {
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    padding: 1.5em;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    margin-top: 1em;
}

.rate-square img {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
}

.feedback {
    width: 100%;
    margin-top: 3em;
}

.feedback-square {
    border-radius: 8px;
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 2em;
    margin-top: 2em;
}

.title-img {
    display: flex;
    flex-direction: row;
}

.title-img img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.title-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
}

.title-txt em {
    color: hsl(333, 80%, 67%);
    margin-top: 0.25em;
}

.feedback-content {
    margin-top: 1em;
    line-height: 2em;
    color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 1440px) {
    body{
        background-image: url('./images/bg-pattern-top-desktop.svg'), url(./images/bg-pattern-bottom-desktop.svg);
        background-position: left top, right bottom;
        background-repeat: no-repeat;
        font-size: 15px;
        padding: 8%;
        font-family: 'Spartan', sans-serif;
    }

    .intro-rate {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .intro {
        width: 35%;
        display: flex;
        flex-direction: column;
        color: hsl(300, 43%, 22%);
    }

    .rate {
        width: 50%;
        /* margin-left: 15%; */
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .rate-square {
        background-color: hsl(300, 24%, 96%);
        border-radius: 5px;
        padding: 0.5em;
        font-weight: bold;
        color: hsl(300, 43%, 22%);
        margin-top: 1em;
        width: 100%;
        padding-left: 1.5em;
    }

    .rate-square img {
        width: 1em;
        height: 1em;
    }

    .review {
        width: 80%;
    }

    .guru {
        width: 80%;
        align-self: center;
    }

    .tech {
        width: 80%;
        align-self: flex-end;
    }

    .rate-square p {
        margin-left: 2.5em;
    }

    .feedback {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: row;
        margin-top: 3em;
        align-items: center;
    }

    .feedback-square {
        width: 32%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: hsl(300, 43%, 22%);
        color: hsl(0, 0%, 100%);
        padding: 2em;
    }

    .colton-smith {
        align-self: flex-start;
    }

    .irene-robert {
        margin-left: 2%;
        margin-right: 2%;
        align-self: center;
    }

    .anne-wallace {
        align-self: flex-end;
    }
}